<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="flightData" value="C:\Users\Sean\Documents\CodeTest\FlightInfo.json"/>
		<add key="hotelData" value="C:\Users\Sean\Documents\CodeTest\HotelInfo.json"/>
	</appSettings>
</configuration>